body {
	background: #000;
	font-family: 'Ubuntu Mono', 'Times New Roman';
}

.b-tile {
	float: left; 
	line-height: 9px; 
	background: #fff; 
	color: #fff; 
	width: 10px; 
	height: 10px;
	margin: 0px;
	border: 1px solid #999;
}

.w-tile {
	float: left; 
	line-height: 9px; 
	background: #000; 
	color: #000; 
	width: 10px; 
	height: 10px;
	margin: 0px;
	border: 1px solid #999;
}

@media (min-width: 992px) {
	.container {
		width: 1100px;
	}
}
#cmd-line {
	margin-top: 20px;
	color: #fff;
	font-size: 16px;
}

input {
		display: inline-block;
		background-color: transparent;
    border: 0px solid;
    width: 100%;
    color: #FFF;
}
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}